<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("../partials/head")%> 
  <link rel="stylesheet" href="/css/register.css">
  <link rel="stylesheet" href="/css/login.css" />

</head>

<body>
  <%- include("../partials/header")%> 

  <main class="main">
    <form class="form" id="login" method="POST" action="/users/login" >
      <div class="form-profile">
        <i class="fa-solid fa-user form-field__icon profile"></i>
      </div>
      <h2 class="form-title">Login</h2>
      <div class="form-field2">
        <label class="form-field__label <%= locals.errors && errors.email ? "form-field__invalid" : null %>" 
          for="email"><i class="fa-regular fa-envelope form-field__icon"></i></label>
        <input class="form-field__input" type="text" placeholder="E-mail" id="email" name="email"
        value = "<%= locals.oldData ? oldData.email : null  %>">          
      </div>
      <% if (locals.errors && errors.email) {%>
        <div class="errorMsg">
          <%= errors.email.msg %>
        </div>
      <% }else{ %>
        <div id="errorEmail"></div>
      <%}%>
      <div class="form-field2">
        <label class="form-field__label" for="confirm_password"><i
            class="fa-solid fa-lock form-field__icon"></i></label>
        <input class="form-field__input" type="password" placeholder="Confirm Password" id="confirm_password" name="pass" />
      </div>
      <div id="errorPass"></div>
      
      <p class="text-password">
        <!-- <i class="fa-regular fa-envelope form-field__icon icono_sobre"></i>Forget password? -->
      </p>
      <input type="submit" class="form-button" value="Login">
    </form>

      </main>

    

      <%- include("../partials/footer")%> 
    <script src="/js/loginValidationForm.js"></script>
</body>

</html>l