<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("../partials/head")%>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/productEdit.css" />

</head>

<body>
  <%- include("../partials/header")%>

    <main class="main" style="height: 100vh;">
      <form class="form" id="editProductForm" action="/products/edit/<%=product.id%>?_method=PUT" method="post"
        enctype="multipart/form-data">

        <h2 class="form-title">Modificar producto</h2>
        <div class="form-field">

          <input class="form-field__input" type="text" placeholder="Nombre del producto" id="Nombre del producto"
            name="product_name" value="<%=product.product_name?? ''%>" />

          <input id="prodOldImage" name="prodOldImage" type="hidden" value="<%=product.image?? ''%>" />
        </div>

        <% if (locals.errors && errors.product_name) {%>
          <div class="errorMsg">
            <%= errors.product_name.msg %>
          </div>
        <% }else{ %>
          <div id="errorProductName"></div>
        <%}%>

        <div class="form-field">

          <input class="form-field__input" type="text" placeholder="Editar descripcion" id="Editar descripcion"
            name="description" value="<%=product.description?? ''%>" />
        </div>

        <% if (locals.errors && errors.description) {%>
          <div class="errorMsg">
            <%= errors.description.msg %>
          </div>
        <% }else{ %>
          <div id="errorDescription"></div>
        <%}%>
        <div class="form-field">

          <input class="form-field__input" type="text" placeholder="Editar precio" id="Editar precio" name="price"
            value="<%=product.price?? ''%>" />
        </div>

        <% if (locals.errors && errors.price) {%>
          <div class="errorMsg">
            <%= errors.price.msg %>
          </div>
        <% }else{ %>
          <div id="errorPrice"></div>
        <%}%>

        <div class="form-field">
          <img src="/img/uploads/products/<%=product.image %>" alt="<% product.image %>">
        </div>

        <div class="form-field">
          <label for="image">Cargar nueva imagen</label>
        </div>
        <div class="form-field">
          <input class="form-field__input" type="file" value="Agregar imagen" id="image" single name="image"
            value="img/uploads/products/<%=product.image?? ''%>" />
        </div>
        <div id="errorImageProduct"></div>

        <div class="form-field">
          <input type="submit" class="form-button" value="Guardar cambios">
        </div>

        <a type="button" class="" href="/products/create">
          <input type="button" class="form-button2" id="updateProductButton" value="Agregar un nuevo producto"> </a>

      </form>


    </main>
    <%- include("../partials/footer")%>

    <script src="/js/updateProductValidationForm.js"></script>
</body>

</html>