<!DOCTYPE html>
<html lang="en">

<head>  
  <%- include("../partials/head")%>
  <link rel="stylesheet" href="css/stylesCart.css">
  <link rel="stylesheet" href="css/productDetail2.css">  
</head>

<body>
  <%- include("../partials/header")%>
    <main>
      <h4 class="elegir">ELEGI TU PROXIMA AVENTURA..</h4>

      <!--Creación de producto, solo podra ser visto por un usuario administrador.-->
      <% if (esAdministrador) { %>  
      <div style="margin-left:1.5% ;">
        <form class="create" action="/products/create/">
          <button type="submit">Crear Nuevo Producto</button>
        </form>
      </div>
      <%}%>  
      
      <div class="allProducts">
        <% for (let index=0; index <products.length;index++) {%>
          <article>
            <a href="/products/<%= products[index].id %>"><img src="/img/uploads/products/<%= products[index].image %>" alt="<% products.image %>">
            <div class="productDetail">
             
              <h4> <%=products[index].product_name %>              
               <i class="fa-solid fa-dollar-sign"></i> <%= products[index].price%>
            </h4>
         
              <%= products[index].description%>            
            </div>
            <!-- ELIMINAR -->
            <!-- <form class="delete"
              action="/products/<%= products[index].id %>?_method=DELETE" 
              method="post">
              <button class="delete" type="submit" >Eliminar</button>            
            </form></a> -->
          </article>
                  <% } %>
            
      </div>
    </main>

    <%- include("../partials/footer")%>
</body>
</html>