<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head")%>
    <link rel="stylesheet" href="css/productDetail2.css">

</head>

<body>
  <%- include("../partials/header")%>
    <main>

      <h1>Elegi tu proxima aventura</h1>
      <div class="allProducts">

        <% for (let index=0; index <products.length;index++) {%>
          <article>
            <img src="/img/<%= products[index].image %>" alt="<% products.image %>">
            <div class="productDetail">
              <h4>
                <%=products[index].product_name %>
              </h4>
              <%= products[index].description%>
                <%= products[index].price%>
              </div>
            </article>
                  <% } %>
            
      </div>
    </main>

    <%- include("../partials/footer")%>
</body>

</html>